// Define any shared variables if needed

// Default card styles
.card {
  background: rgba(33, 33, 33, 0.87);
  flex-wrap: wrap;

  // Card container styles
  &_contain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 500px;
    margin-top: 50px;
  }

  // Card image styles
  &_image {
    width: 367px;
  }

  // Card audio styles
  &_audio {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 550px;
    width: 22vw;
    background: var(--gray, rgba(63, 63, 63, 0.65));

    // Card audio title styles
    &_title {
      color: #FFFFFF;
      text-align: center;
      font-family: Aldrich, serif;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 20px;
      margin-bottom: 10px;
      transition: all 0.5s ease-in-out;

      &:hover {
        color: rgba(238, 238, 238, 0.93);
      }
    }

    &_title_ln {
      color: #8A8A8A;
      text-align: center;
      font-family: Aldrich, serif;
      font-size: 35px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 20px;
      transition: all 0.5s ease-in-out;

      &:hover {
        color: rgba(194, 194, 194, 0.93);
      }
    }
  }

  // Card description styles
  &_description {
    display: flex;
    align-items: center;
    background: var(--gray, rgba(63, 63, 63, 0.65));
    margin: 46px 15px 40px;

    // Card description text styles
    &_text {
      color: #FFF;
      font-family: Aldrich, serif;
      font-size: 35px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 10px 10px 20px 15px;
    }
  }

  // Media queries
  @media (max-width: 1535px) {
    &_audio {
      height: 480px;
      background: var(--gray, rgba(63, 63, 63, 0.65));
    }
    &_image {
      width: 320px;
    }
    &_audio_title {
      color: #FFF;
      font-size: 35px;
      margin-top: 10px;
      margin-bottom: 5px;
    }
    &_audio_title_ln {
      color: #8A8A8A;
      font-size: 30px;
      margin-bottom: 35px;
    }
    &_contain {
      height: 500px;
      margin-top: 5px;
    }
    &_description {
      margin: 5px 15px 25px;
    }
  }

  @media (max-width: 1395px) {
    &_audio {
      height: 555px;
      width: 26vw;
      background: var(--gray, rgba(63, 63, 63, 0.65));
    }
    &_image {
      width: 372px;
    }
    &_contain {
      height: 500px;
      margin-top: 55px;
    }
    &_description {
      margin: 55px 15px 25px;
    }
    &_audio_title {
      color: #FFF;
      font-size: 35px;
      margin-top: 25px;
      margin-bottom: 5px;
    }
    &_audio_title_ln {
      color: #8A8A8A;
      font-size: 30px;
      margin-bottom: 50px;
    }
  }

  @media (max-width: 1100px) {
    &_audio {
      height: 100%;
      width: 100%;
      background: var(--gray, rgba(63, 63, 63, 0.65));
    }
    &_image {
      width: 100%;
      height: 100vh;
    }
    &_audio_title {
      color: #FFF;
      font-size: 60px;
      margin-top: 10px;
      margin-bottom: 5px;
    }
    &_audio_title_ln {
      color: #8A8A8A;
      font-size: 50px;
      margin-bottom: 35px;
    }
    &_contain {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      height: 640px;
      margin-top: 330px;
    }
    &_description {
      display: flex;
      align-items: center;
      background: var(--gray, rgba(63, 63, 63, 0.65));
      margin: 350px 0 25px 0;
    }
  }

  @media (max-width: 815px) {
    &_audio_title {
      color: #FFF;
      font-size: 45px;
      margin-top: 10px;
      margin-bottom: 5px;
    }
    &_audio_title_ln {
      color: #8A8A8A;
      font-size: 35px;
      margin-bottom: 35px;
    }
    &_contain {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      height: 600px;
      margin-top: 340px;
    }

    &_description {
      display: flex;
      align-items: center;
      background: var(--gray, rgba(63, 63, 63, 0.65));
      margin: 450px 0 25px 0;
    }
  }

  @media (max-width: 450px) {
    &_contain {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      height: 600px;
      margin-top: 205px;
    }
  }
}
