$main-font: 'Aldrich', serif;
$main-font-weight: 400;
$main-line-height: normal;

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 20vh;

  &__year {
    color: #FFF;
    text-align: center;
    text-shadow: 0 4px 4px 0 #000;
    font-family: $main-font;
    font-size: 40px;
    font-style: normal;
    font-weight: $main-font-weight;
    line-height: $main-line-height;
    transition: all 0.5s ease-in-out;

    &:hover {
      color: #720000;
    }
  }

  &__icon--github,
  &__icon--rss {
    filter: none;
    transition: all 0.5s ease-in-out;

    &:hover {
      filter: drop-shadow(5px 5px 5px #e41919) invert(5%);
    }
  }

  @media (max-width: 1000px) {
    &__icon--github {
      width: 70px;
    }
    &__icon--rss {
      width: 100px;
    }
  }

  @media (max-width: 750px) {
    &__icon--github {
      width: 60px;
    }
    &__icon--rss {
      width: 90px;
    }
    &__year {
      font-size: 25px;
    }
  }

  @media (max-width: 500px) {
    &__icon--github {
      width: 50px;
    }
    &__icon--rss {
      width: 80px;
    }
    &__year {
      font-size: 20px;
    }
  }
}
