.header {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  &__burger-menu-icon {
    display: none;
    cursor: pointer;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-around;

    &-element:not(:last-child) {
      margin-right: 50px;
    }

    &.open {
      display: flex;
    }
  }

  &__logo {
    filter: none;
    transition: all 0.5s ease-in-out;
    width: 125px;

    &:hover {
      filter: drop-shadow(5px 5px 5px #e41919) invert(5%);
    }
  }

  &__nav-element {
    color: #FFF;
    text-align: center;
    text-shadow: 0 4px 4px 0 #000;
    font-family: Aldrich, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    a {
      color: #FFF;
      text-decoration: none;
      transition: all 0.5s ease-in-out;

      &:hover {
        color: #720000;
      }

      &:active {
        color: #b40c0c;
      }
    }

    & > .active {
      color: #910000;
    }
  }

  &__translate-text {
    color: #A1A1A1;
    text-align: center;
    font-family: Aldrich, serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 0.5s ease-in-out;

    &:hover {
      color: #840000;
    }
  }

  &__translate-logo {
    filter: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    &:hover {
      filter: drop-shadow(5px 5px 5px #e41919) invert(5%);
    }
  }

  .container {
    display: flex;
    align-items: center;

    &.open{
      display: flex;
    }
  }

  .overlay{
    display: none;
  }

  @media (max-width: 1000px) {
    &__nav-element {
      font-size: 30px;
    }
    &__translate-text {
      font-size: 44px;
    }
    &__translate-logo {
      width: 70px;
    }
    &__logo {
      width: 95px;
    }
  }

  @media (max-width: 750px) {
    &__nav {
      display: none;

      &-element:not(:last-child) {
        margin-right: 0;
      }

      &.open {
        position: fixed;
        height: 40vh;
        width: 50vw;
        background: black;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        top: 35%;
        z-index: 11;
      }
    }

    &__burger-menu-icon {
      display: flex;
      width: 100px;
    }

    .container {
      display: none;
      align-items: center;
      z-index: 11;

      &.open {
        display: flex;
      }
    }

    .overlay {
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 10;
    }
  }
}
