$main-font: 'Aldrich', serif;
$main-font-size: 128px;
$main-font-weight: 400;
$main-line-height: normal;

.home {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;

  &__text {
    color: #FFF;
    text-align: center;
    text-shadow: 0 4px 4px 0 #000;
    font-family: $main-font;
    font-size: $main-font-size;
    font-style: normal;
    font-weight: $main-font-weight;
    line-height: $main-line-height;
  }

  &__link {
    color: #800;
    text-align: center;
    font-family: $main-font;
    font-size: $main-font-size;
    font-style: normal;
    font-weight: $main-font-weight;
    line-height: $main-line-height;

    &:hover {
      color: #720000;
    }

    &:active {
      color: #b40c0c;
    }
  }
}
