.home {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.home_text{
  color: #FFF;
  text-align: center;
  text-shadow: 0 4px 4px 0 #000;
  font-family: Aldrich, serif;
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home_link{
  color: #800;
  text-align: center;
  font-family: Aldrich, serif;
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home_link:hover{
  color: #720000;
}

.home_link:active{
  color: #b40c0c;
}