$main-font: 'Aldrich', serif;
$main-font-weight: 400;
$main-line-height: normal;

.home {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;

  &__text {
    color: #FFF;
    text-align: center;
    text-shadow: 0 4px 4px 0 #000;
    font-family: $main-font;
    font-size: 99px;
    font-style: normal;
    font-weight: $main-font-weight;
    line-height: $main-line-height;
  }

  &__link {
    color: #800;
    text-align: center;
    font-family: $main-font;
    font-size: 99px;
    font-style: normal;
    font-weight: $main-font-weight;
    line-height: $main-line-height;
    transition: all 0.5s ease-in-out;

    &:hover {
      color: #d20000;
    }

    &:active {
      color: #b40c0c;
    }
  }

  @media (max-width: 1000px) {
    &__text,
    &__link {
      font-size: 60px;
    }
  }

  @media (max-width: 750px) {
    &__text,
    &__link {
      font-size: 45px;
    }
  }

  @media (max-width: 500px) {
    &__text,
    &__link {
      font-size: 35px;
    }
  }
}
